{% extends "layout.njk" %}

{% block head %}
    <title>Tony Hawk's Pro Skater - Início</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="https://i.ytimg.com/vi/e4hFnlEkIcY/hqdefault.jpg" alt="Imagem Tony Hawk's Pro Skater 1">
        <h1>Tony Hawk's Pro Skater - Games</h1>
        <h2>Jogos da série do 1 ao 1+2</h2>
        <p>Está é uma fã page dedicada aos jogos da série Tony Hawk's Pro Skater. Na seção de vídeos estão alguns
            detonados feito pelo <a href="https://www.youtube.com/channel/UCc73L9J95r0JKCTW6RZgW4A" target="_blank">Benedict</a> no Youtube.
        </p>
    </div>

    <div id="wrapper-footer" class="links">
        <a href="#">Github</a>
        <a href="#">Twitter</a>
        <a href="#">Linkedin</a>
    </div>

{% endblock %}
